<div class="container">
    <h3>Deleting customer</h3>
    <div>
        <label>customer Name</label>
        <%= @customer.name %>
    </div>
    <div>
        <label>gender</label>
        <%= @customer.gender %>
    </div>
    <div>
        <%= link_to 'Back',"/" %>
    </div>
</div>