<div id="wrapper">
    <div class="navbar-custom">
        <div class="container-fluid">
            <ul class="list-unstyled topnav-menu float-start mb-0">
                <li><a class="nav-link" href="/books">Book details</a></li>
                <li><a class="nav-link" href="/new">Customer Details</a></li>
                <li><a class="nav-link" href="/sports">Sports Details</a></li>
                <li><a class="nav-link" href="/logout">Log Out</a></li>
                 <%# <li><a class="nav-link" href="/resumes">Upload Resume</a></li> %>
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Login/Sign Up</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="/login" class="dropdown-item">Login</a>
                            <div class="dropdown-divider"></div>
                            <a href="/signup" class="dropdown-item">Sign Up</a>
                        </div>
                    </li>
                </ul>
                
            </ul>
        </div>
    </div>
</div>
</div>